
@{
    ViewBag.Title = "Add/Edit Tactic";
}

<h2>Add/Edit Tactic</h2>
@using CC.Plugins.Tactic.Models
@model TacticViewModel
@{
    //ViewBag.Title = T("Admin.Rules.AddRule").Text;
    ViewBag.Title = "View Location";
    Layout = "_AdminLayout";
}

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("AddEditTactic", "Tactic", FormMethod.Post))
{
    <div class="section-header">
        <div class="title">
            @ViewBag.Title @Html.ActionLink("(" + @T("Admin.Common.BackToList") + ")", "Index")
        </div>

        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-warning">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            @if(Model.Id > 0)
                {
                    <span id="Tactic-delete" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                        <span>@T("Admin.Common.Delete")</span>
                    </span>
                }
            
        </div>
    </div>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedOnUtc)
    @Html.HiddenFor(model => model.CreatedByUser)

    <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.Code)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.Name)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.ShortDescription)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.ShortDescription)
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </div>
        </div>
        
        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.LongDescription)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.LongDescription)
                @Html.ValidationMessageFor(model => model.LongDescription)
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.TacticType)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.TacticType)
                @Html.ValidationMessageFor(model => model.TacticType)
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.Sequence)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.Sequence)
                @Html.ValidationMessageFor(model => model.Sequence)
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.LockOutDays)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.LockOutDays)
                @Html.ValidationMessageFor(model => model.LockOutDays)
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.Frequency)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.Frequency)
                @Html.ValidationMessageFor(model => model.Frequency)
            </div>
        </div>
        <div class="adminRow">
            <div class="adminTitle">
                @Html.SmartLabelFor(model => model.AppliedTo)
            </div>
            <div class="adminData">
                @Html.TextBoxFor(model => model.AppliedTo)
                @Html.ValidationMessageFor(model => model.AppliedTo)
            </div>
        </div>

        @{



            <div class="adminRow">
                <div class="adminTitle">
                    @Html.SmartLabelFor(model => model.tbTacticCode)
                </div>
                <div class="adminData">
                    @Html.DropDownListFor(model => Model.tbTacticCode, ViewBag.tbTacticList as List<SelectListItem>)
                    @Html.ValidationMessageFor(model => model.tbTacticCode)
                </div>
            </div>

        }



    </div>
}
@Html.DeleteConfirmation("Tactic-delete")
<script>

</script>