@using CC.Plugins.Program.Models
@model ProgramViewModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = T("Plugins.FriendlyName.SmartStore.Program").Text;

}

@if (Model == null)
{
    return;
}

@using (Html.BeginForm())
{

<div class="section-header">
    <div class="title">
        <i class="fa fa-map-marker"></i>
        @T("Plugins.FriendlyName.CC.Plugins.Program")
    </div>
    <div class="options">
        <a href="@Url.Action("AddEditProgram")" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            <span>@T("Admin.Common.AddNew")</span>
        </a>
    </div>
    <div class="options">
        @{ Html.RenderWidget("admin_button_toolbar_before"); }

        <button type="button" class="btn btn-outline-secondary btn-toggle-filter" data-toggle="button" aria-pressed="false">
            <i class="fa fa-filter"></i>
            <span>@T("Common.Filter")</span>
            <i class="fa fa-angle-double-down"></i>
        </button>



        @{ Html.RenderWidget("admin_button_toolbar_after"); }
    </div>
</div>


    <div class="row mt-3 grid-filter" style="display: none">
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            @Html.SmartLabelFor(model => model.Code)
            @Html.TextBoxFor(model => Model.Code, new { @class = "form-control sf" })
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            @Html.SmartLabelFor(model => model.Name)
            @Html.TextBoxFor(model => Model.Name, new { @class = "form-control sf" })
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            @Html.SmartLabelFor(model => model.ShortDescription)
            @Html.TextBoxFor(model => Model.ShortDescription, new { @class = "form-control sf" })
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            @Html.SmartLabelFor(model => model.LongDescription)
            @Html.TextBoxFor(model => Model.LongDescription, new { @class = "form-control sf" })
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            @Html.SmartLabelFor(model => model.ProgramType)
            @Html.TextBoxFor(model => Model.ProgramType, new { @class = "form-control sf" })
        </div>                    
          
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
            @Html.SmartLabelFor(model => model.tbProgramCode)
            @Html.DropDownListFor(model => Model.tbProgramCode, ViewBag.tbProgramList as List<SelectListItem>)
        </div>
        
        <div class="col-sm-6 col-lg-4 col-xl-3 form-group">

            <button type="submit" id="search-Programs" name="search-Programs" class="btn btn-warning btn-block">
                <span>@T("Admin.Common.ApplyFilter")</span>
            </button>
        </div>


    </div>

    @(Html.Telerik().Grid<ProgramViewModel>()
        .Name("Program-grid")
        .ClientEvents(events => events
            .OnDataBinding("onDataBinding")
            .OnDataBound("onDataBound")
            .OnRowDataBound("onRowDataBound"))
        .Columns(columns =>
        {
            
            columns.Bound(x => x.Code)

                    .ClientTemplate("<a href='program/AddEditProgram/<#= Id #>'><#= Code #></a>");
            columns.Bound(x => x.Name);


            columns.Bound(x => x.ShortDescription);

            columns.Bound(x => x.LongDescription);
            columns.Bound(x => x.Sequence);
            columns.Bound(x => x.ProgramType);
            columns.Bound(x => x.LockOutDays);
            columns.Bound(x => x.Frequency);
            columns.Bound(x => x.AppliedTo);
            columns.Bound(x => x.tbProgramName);


            //columns.Bound(x => x.Id)
            //    .Centered()
            //    .ClientTemplate("<a href=\"EditProgram/<#= Id #>\" class=\"t-button\">" + T("Admin.Common.Edit").Text + "</a>")
            //    .Title(String.Empty)
            //    .HtmlAttributes(new { align = "right", @class = "omega" });


        })
        .Pageable(settings => settings.PageSize(Model.PageSize).Position(GridPagerPosition.Both))
        .DataBinding(dataBinding => dataBinding.Ajax().Select("LoadPrograms", "Program"))
        .PreserveGridState()
        .EnableCustomBinding(true))

<script>
		@*Used by widget SmartStore.CommonExportProviders::ExportButtonsGeneral.cshtml*@
		var selectedIds = [];

		$(function () {
            $('.btn-toggle-filter').on('click', function (e) {
                $('.grid-filter').slideToggle({ duration: 200, easing: 'ease-in-out' });
            });

            // Search button.
            $('#search-Programs').click(function () {
                var grid = $('#Program-grid').data('tGrid');
                grid.currentPage = 1; //new search. Set page size to 1
                grid.ajaxRequest();
                return false;
            });

            $(".form-control.sf").on("keydown", function (e) {
                if (e.keyCode == 13) {
                    $("#search-Programs").click();
                    return false;
                }
            });

		});

		function onDataBound() {
			//$('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
			//	var currentId = $(this).val();
			//	var checked = jQuery.inArray(currentId, selectedIds);
			//	// Set checked based on if current checkbox's value is in selectedIds.
			//	$(this).attr('checked', checked > -1);
			//});

			//updateMasterCheckbox();
        }

        function onRowDataBound(e) {
		    if (!e.dataItem.Active) {
			    $(e.row).find('td').wrapInner('<span class="muted" />');
		    }
        }



		function onDataBinding(e) {
            e.data = {
                Id: $('#@Html.FieldIdFor(model => model.Id)').val(),
                Name: $('#@Html.FieldIdFor(model => model.Name)').val(),
                Code: $('#@Html.FieldIdFor(model => model.Code)').val(),
                ShortDescription: $('#@Html.FieldIdFor(model => model.ShortDescription)').val(),
                LongDescription: $('#@Html.FieldIdFor(model => model.LongDescription)').val(),
                ProgramType: $('#@Html.FieldIdFor(model => model.ProgramType)').val(),
                tbProgramCode: $('#@Html.FieldIdFor(model => model.tbProgramCode)').val()

    			};

            var ProgramGrid = $('#Program-grid');
            if (ProgramGrid.data('init-loaded')) {

			}
			else {
                ProgramGrid.data('init-loaded', true);

			}
		}
</script>
}

