@using CC.Plugins.Location.Models
@model LocationModel
@{
    //ViewBag.Title = T("Admin.Rules.AddRule").Text;
    ViewBag.Title = "View Location";
    Layout = "_AdminLayout";
}

@if (Model == null)
{
    return;
}

@using (Html.BeginForm("Charge", "CustomerCreditCard", FormMethod.Post))
{
    <div class="section-header">
        <div class="title">
            @ViewBag.Title @Html.ActionLink("(" + @T("Admin.Common.BackToList") + ")", "LoadLocations")
        </div>
        <div class="options">
            @*<button type="submit" name="save" value="save" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    <span>@T("Admin.Common.Save")</span>
                </button>*@

        </div>
    </div>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.LocationId)


<div class="adminContent">
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabelFor(model => model.LocationId)
        </div>
        <div class="adminData">
            @Html.TextBoxFor(model => model.LocationId)
            @Html.ValidationMessageFor(model => model.LocationId)
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            @Html.SmartLabelFor(model => model.LocationName)
        </div>
        <div class="adminData">
            @Html.TextBoxFor(model => model.LocationName)
            @Html.ValidationMessageFor(model => model.LocationName)
        </div>
    </div>

    @{

        var locationType = new List<SelectListItem>();
        locationType.Add(new SelectListItem { Text = "Market", Value = "Market" });
        locationType.Add(new SelectListItem { Text = "Salon", Value = "Salon" });


        <div class="adminRow">
                <div class="adminTitle">
                    @Html.SmartLabelFor(model => model.LocationType)
                </div>
                <div class="adminData">
                    @Html.DropDownListFor(model => Model.LocationType, locationType)
                    @Html.ValidationMessageFor(model => model.LocationType)
                </div>
        </div>
        
    }



</div>
}