@using SmartStore.CreditCardPay.Models
@model IList<PaymentMethodResponse>
@{
    // Html.AddTitleParts(T("PageTitle.Account").Text)
    Layout = "_MyAccount";
    //  ViewBag.PageClassToken = "addresses";
    // ViewBag.PageTitle = T("Account.CustomerAddresses").Text;
}

@*@if (Model == null || Model.Count == 0)
{
    <div class="alert alert-warning">@T("Account.CustomerAddresses.NoAddresses")</div>
}*@

<div class="add-address">
    <a class="btn btn-primary btn-lg add-address-button mb-4" href="@Url.Action("AddCard")" rel="nofollow">
        <i class="fa fa-plus"></i>
        <span>@T("Common.AddNew")</span>
    </a>
</div>

@if (Model == null || Model.Count == 0)
{
    return;
}

<div class="card-deck card-cols-sm-1 card-cols-lg-2 address-list">
    @foreach (var item in Model)
    {


        <div class="card shadow-sm address-list-item">
            <div class="card-body">
                <h4 class="card-title">@item.CardHolderName</h4>

                <div class="mb-2">
                    <div class="phone">
                        <span>Card Mask:</span>
                        @* @Html.LabelFor(item => item.CardMask, new { @class = "m-0" }):*@
                        @item.CardMask
                    </div>
                    <div class="email">
                        @*   @Html.LabelFor(item => item.CardType, new { @class = "m-0" }):*@
                        <span>Card Type:</span>
                        @item.CardType
                    </div>
                    <div class="phone">
                        @* @Html.LabelFor(item => item.ExpireDate, new { @class = "m-0" }):*@
                        <span>Expire Date:</span>
                        @item.ExpireDate
                    </div>


                </div>


            </div>

            <div class="card-footer d-flex p-0">
                @*<a class="btn btn-secondary btn-lg btn-flat rounded-0 edit-address-button" href="@Url.Action("AddressEdit", new { id = item.PaymentProfileId })">
                        <span>@T("Common.Edit")</span>
                    </a>*@
                <a class="btn btn-danger btn-lg btn-flat rounded-0 delete-address-button" href="@Url.Action("DeleteCard", new { paymentProfileId = item.PaymentProfileId })" onclick='return confirm(@T("Common.AreYouSure").JsText);'>
                    <span>@T("Common.Delete")</span>
                </a>
            </div>
        </div>
    }
</div>