@model CC.Plugins.Subscription.Models.SalonSubscriptionDetailResponse
@using Telerik.Web.Mvc.UI;

@{
    ViewBag.Title = "Subscription Detail";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.default.min.css" />
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.mobile.all.min.css" />
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.common.min.css" />
<script src="~/Themes/GreatClips/Content/kendo/js/kendo.all.min.js"></script>
@if (Model == null)
{
    return;
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 align-self-center">
            <h4 style="text-align:center;" id="market-caption"></h4>

        </div>
    </div>
    <div class="row p2ncard-item">
        <div class="col-2 ">
        </div>

        <div class="col-6" style="padding-right:0px;">

            <div class="p2ncard " id='@(Model.Id + "card")'>

                <div class="row ">
                    <div class="col-lg-3  col-sm-12 col-md-4">
                        <img src="~/Themes/GreatClips/Content/Images/@Model.IconPath" class="p2n-image" alt="p2n">
                    </div>
                    <div class="col-lg-9 col-sm-12 col-md-8 p2nitem">
                        @if (Model.ProgramCode == "P2N")
                        {
                            <h6>Your next great customer</h6>
                        }
                        else if (Model.ProgramCode == "N2B")
                        {
                            <h6>From rookie to regular</h6>
                        }
                        else
                        {
                            <h6>Undiscounted Loyalty</h6>
                        }
                    </div>
                </div>

                <div class="row p2nbigimage">
                    <div class="col-12 p2nitem">
                        <img src="~/Themes/GreatClips/Content/Images/@Model.PictureDecorationPath" class="p2n-image " alt="Cinque Terre">
                    </div>
                </div>


                <div class="row p2nparagrap-text ">
                    <div class="col-lg-8  col-sm-12 col-md-12">
                        <article>
                            <span id="@Model.Id+'ShortDescription'">
                                @Model.ShortDescription ...
                                <a href="javascript:void(0);" id="@(Model.Id + "seemore")" onclick="return myFunction('@(Model.Id + "seemore")','@(Model.Id + "longdescription" )')">Read more...</a>
                            </span>
                            <br />
                            <span id="@(Model.Id + "longdescription")" class="long_description">
                                @Model.LongDescription
                            </span>
                        </article>


                    </div>

                </div>





                <div class="row ">
                    <div class="col-3">
                        Print: $.46
                    </div>
                    <div class="col-5 ">
                        <input name="slider" class="balSlider" value="0" title="slider" id="@(Model.Id + "slider")" />


                    </div>
                    <div class="col-3">


                    </div>
                </div>
                @if (Model.ProgramCode == "N2B" || Model.ProgramCode == "B2G")
                {
                    <div class="row ">
                        <div class="col-3">
                            App
                        </div>
                        <div class="col-5 ">
                            <input name="slider" class="balSlider slider" value="0" title="slider" />


                        </div>
                        <div class="col-3">


                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-3">
                            Email
                        </div>
                        <div class="col-5 ">
                            <input name="slider" class="balSlider slider" value="0" title="slider" />


                        </div>
                        <div class="col-3">


                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <button id='@(Model.Id + "order-grid-btn")' class="btn btn-info p2ncard-btn" onclick="ShowHideOfferGrid('orderGrid','@(Model.Id + "order-grid-btn" )')">Subscriptions</button>

                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <button id='@(Model.Id + "order-history-grid-btn")' class="btn btn-info p2ncard-btn" onclick="ShowHideOfferGrid('orderGrid','@(Model.Id + "order-history-grid-btn" )')">@Model.ProgramCode History</button>

                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                    </div>
                </div>


            </div>

        </div>
        <div class="col-2 p2nitem">
            <div class="p2ncard-estimated">
                <span>Price <br /> $<span id="@(Model.Id + "estimated")">@Model.Volume</span> / week</span>
            </div>
        </div>
        <div class="col-2 ">
        </div>
    </div>
    <div class="row p2ncard-item" style="display:none;" id="orderGrid">
        <div class="col-2 ">
        </div>

        <div class="col-6" style="padding-right:0px;">

            <div class="p2ncard " id='@(Model.Id + "cardOrder")'>

                <div class="row"  id="@(Model.Id + "offer-grid-row")">
                    <div class="col-sm-12" style="margin-top: 15px;"><div class="gc-grid" id="@(Model.Id + "order-grid")"></div></div>
                </div>

                

            </div>

        </div>
        <div class="col-2 p2nitem">
           
        </div>
        <div class="col-2 ">
        </div>
    </div>
    <script>

            $(document).ready(function () {
                // $('p2nparagrap-text').readmore();
                var slider = $("#@(Model.Id + "slider")").kendoSlider({

                    min: 0,
                    max: @Model.NumberOfLevels,
                smallStep: 1,
                    largeStep: 1,
                        showButtons: false,
                            value: @Model.Level,
                tickPlacement: "none",
                    dragHandleTitle: "",
                        slide: function (e) {

                            var slide = this;
                            var element = slide.element;
                            $(element).parent(".k-slider-wrap").find(".k-draghandle").text(e.value);

                            var volume = (e.value /@Model.NumberOfLevels) * 100;
            $("#@(Model.Id + "estimated")").text(volume);
                            },
            change: function (e) {


            },
            tooltip: {
                enabled: false
            }

                        }).data("kendoSlider");


            $("#@(Model.Id + "slider")").parent(".k-slider-wrap").find(".k-draghandle").text('@Model.Level');

            renderOfferGrid('@(Model.Id + "order-grid")');
            ChangeColorButton('@(Model.Id + "card")', '@Model.ProgramCode');
                    });

    </script>



</div>

<script>
    $(document).ready(function () {
        // $('p2nparagrap-text').readmore();
        var slider = $(".slider").kendoSlider({

            min: 0,
            max: 10,
            smallStep: 1,
            largeStep: 1,
            showButtons: false,
            value: 0,
            tickPlacement: "none",
            dragHandleTitle: "",
            slide: function (e) {

                var slide = this;
                var element = slide.element;
                $(element).parent(".k-slider-wrap").find(".k-draghandle").text(e.value);


            },
            change: function (e) {


            },
            tooltip: {
                enabled: false
            }

        }).data("kendoSlider");


        $(".slider").parent(".k-slider-wrap").find(".k-draghandle").text('0');

    });

    function ChangeColorButton(cardId, programCode) {
        debugger;
        if (programCode == "P2N") {
            $("#" + cardId).find(".btn").addClass("pantone2925");

        }
        else if (programCode == "N2B") {
            $("#" + cardId).find(".btn").addClass("pantone2294");

        }
        else {
            $("#" + cardId).find(".btn").addClass("pantone1505");

        }
    }

    function ShowHideOfferGrid(gridId, btnId) {
        var grid = document.getElementById(gridId);
        var btn = document.getElementById(btnId);

        if (btnId == '@(Model.Id + "order-grid-btn")') {

            LoadOrderGridDataSource('@(Model.Id + "order-grid")');
        }
        else {
            LoadOrderHistoryGridDataSource('@(Model.Id + "order-grid")');
        }

        if (grid.style.display === "none") {

          //  btn.innerHTML = "Hide Offers";
            grid.style.display = "";

        } else {

           // btn.innerHTML = "Show Offers";
            grid.style.display = "none";
        }
    }

    function myFunction(seemore, more,) {



        var moreText = document.getElementById(more);
        var btnText = document.getElementById(seemore);

        if (moreText.style.display === "none" || moreText.style.display === "") {

            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
            moreText.removeAttribute("class");
        } else {

            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        }

        return false;
    }


</script>

<script type="text/javascript">

        function renderOfferGrid(gridId) {

            $("#" + gridId).kendoGrid({
                dataSource: [],
                noRecords: {
                    template: "No data available."
                },
                sortable: true,
                pageable: false,

                columns: [{
                    field: "Number",
                    title: "Invoice #",
                    width: 45
                },
                {
                    field: "Date",
                    title: "Invoice Date",
                    template: "#= kendo.toString(kendo.parseDate(Date, 'yyyy-MM-dd'), 'MM/dd/yyyy') #",                    
                    width: 60
                },
                {
                    field: "Status",
                    title: "Invoice Status",
                    width: 40
                },
                {
                    field: "TotalAmount",
                    title: "Total Amount",
                    width: 40
                },


                ]
            });

        }

        function LoadOrderHistoryGridDataSource(gridId) {
            $.post("@Url.Action("GetOrderHistoryList", "Subscription")")
                .done(function (result) {
                    if (result != null) {

                        var offerListDatasource = new kendo.data.DataSource({
                            data: result,
                            sort: [{ field: "Number", dir: "desc" }]
                        });

                        $("#" + gridId).data("kendoGrid").setDataSource(offerListDatasource);

                    }


                });
        }


        function LoadOrderGridDataSource(gridId) {
                $.post("@Url.Action("GetOrderPendingList", "Subscription")")
                    .done(function (result) {
                        if (result != null) {

                            var offerListDatasource = new kendo.data.DataSource({
                                data: result,
                                sort: [{ field: "Number", dir: "desc" }]
                            });

                            $("#" + gridId).data("kendoGrid").setDataSource(offerListDatasource);

                        }


                    });
            }







</script>


